body {
    padding: 0;
    margin: 0;
    font-family: "Nunito";
    background-color: lightblue;
    text-align: center;
}

img {
    width: 200px;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
}

h1,
p {
    color: navy;
    margin-bottom: 30px;
}

button {
    width: 200px;
    height: 75px;
    display: block;
    background-color: navy;
    color: white;
    font-size: 25px;
    font-family: "Nunito";
    margin: 0 auto;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
}